	.card-container {
    width: 75%;
    position: relative;
    background: url(https://wp-s.ru/wallpapers/6/1/496088973303808/cheshirskij-kot-na-vetke-sredi-ogonkov.jpg);
    background-size: cover;
    background-position: 50% 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;    
    height: 500px;
    margin: 50px 12.5%;
}

.card-container .card h2 {
    margin: -70% -70%;
    width: 300px;
	color: #000;
}


.card-container .card p {
	margin: -47.5% -150%;
    width: 300px;
	color: magenta;
}
@media screen and (max-width: 696px) {
    .card-container {
        margin: 140px 0;
    }
}